
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: cdl
    password: 123456
    url: jdbc:mysql://10.100.14.26:3306/appcheck?useUnicode=true&characterEncoding=utf8
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
    mode: HTML5
    content-type: text/html

jedis :
  pool :
    host : 10.18.49.46
    port : 6379
    config :
      maxTotal: 100
      maxIdle: 10
      maxWaitMillis : 100000

email:
  host: 10.18.49.46
  port: 25
  username: i-chendonglin
  password: chendonglin
  to: i-chendonglin@360.cn
  from: i-chendonglin@360monitor.cn
  cc: i-chendonglin@360.cn,root2@360monitor.cn

## ?号 被处理为 换行
sayHi: " Hi, 艳丽 ?
              请帮忙协调测试，谢谢啦。?
          内容如下："

## 解密sign 的私钥
secretKey: 04bf6c8f611fd1552d9dd04a8a5875aa19b686dcf6f05493a64d3b376a68d5cb





